html {
    background-color: grey;
  }
  header {
    background-color: red;
    min-height: 2rem;
    text-align: center; 
    font-size: 2rem; 
    font-family: cursive;
    border: 2px solid black;
    margin: 5px;
  }
  h1 {
      text-align: center;
      font-family: cursive;
  }
  .imgage{
      max-width: 15rem;
  }
.single-shot{
    max-width: 15rem;
    margin: auto;
}
#parent {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}
footer{
    min-height: 1rem;
    text-align: center; 
    font-size: 1rem; 
  }
  .contact{
    display: inline;
    margin: 10px;
  }
  #navigation{
    display: grid;
    grid-gap: 1000px;
    grid-template-columns: 1fr 1fr;
  }
  button {
    font-size: 15px;
    border-radius: 10pc;
    min-height: 2.5pc;
    border-color: red;
    background-color: lightgrey;
  }