html {
    background-color: grey;
  }
  header {
    background-color: red;
    min-height: 2rem;
    text-align: center; 
    font-size: 2rem; 
    border-radius: 10pc;
  }
  h1 {
      text-align: center;
  }
  #fully-img{
      max-width: 15rem;
  }
  #semi-img{
      max-width: 15rem;
  }
  #revolver-img{
      max-width: 15rem;
  }
.single-shot{
    max-width: 15rem;
    margin: auto;
}
#parent {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}
button {
    font-size: 15px;
    border-radius: 5pc;
    min-height: 2.5pc;
    border-color: red;
    background-color: lightgrey;
  }