header{
    background-color: red;
    min-height: 2rem;
    text-align: center; 
    font-size: 2rem; 
    border-radius: 10pc;
}
#intro {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto; 
    text-align: center;
    justify-content: center;
    align-items: center;
}
p {
    max-width: 30rem;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    text-align: center;
}
#parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
h2 {
    border: 1px solid black;
    border-radius: 10pc;
    padding: 5px;
    max-width: 15rem;
}
#blunted-weapon{
    max-width: 15rem;
    text-align: center;
}
#bladed-weapons{
    max-width: 15rem;
    text-align: center;
}
#one-handed {
    max-width: 15rem;
    text-align: center;
}
#two-handed {
    max-width: 15rem; 
    text-align: center;
}
html {
    background-color: gray;
}
button {
    font-size: 15px;
    border-radius: 5pc;
    min-height: 2.5pc;
    border-color: red;
    background-color: lightgrey;
  }