header{
    background-color: red;
    min-height: 2rem;
    text-align: center; 
    font-size: 2rem; 
    border-radius: 10pc;
}
p {
    max-width: 30rem;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    text-align: center;
}
html {
    background-color: gray;
}