header{
    background-color: red;
    min-height: 2rem;
    text-align: center; 
    font-size: 2rem; 
    border-radius: 10pc;
}
#intro {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto; 
    text-align: center;
    justify-content: center;
    align-items: center;
}
p {
    max-width: 30rem;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    text-align: center;
}
h2 {
    border: 1px solid black;
    border-radius: 10pc;
    padding: 5px;
}
#one-handed {
    max-width: 15rem;
}
#two-handed {
    display: inline-block;
    max-width: 15rem;
    background-color: antiquewhite;
}
html {
    background-color: gray;
}