html {
    background-color: grey;
  }
  header {
    background-color: red;
    min-height: 2rem;
    text-align: center; 
    font-size: 2rem; 
    font-family: cursive;
    border: 1px solid black;
  }
  footer{
    min-height: 1rem;
    text-align: center; 
    font-size: 1rem; 
  }
  #theheader {
    min-height: 3rem;
    font-size: 3rem;
    border: 2px solid black;
  }
  #meleeimg {
    align-items: center;
    justify-content: center;
    min-height: 75%;
    margin: .5rem;
  }
  div {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto; 
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .contact{
    display: inline;
    margin: 10px;
  }
  button {
    font-size: 15px;
    min-height: 2.5pc;
    border-color: red;
    background-color: lightgrey;
  }