html {
    background-color: grey;
  }
  header {
    background-color: red;
    min-height: 2rem;
    text-align: center; 
    font-size: 2rem; 
    border-radius: 10pc;
  }
.single-shot{
    max-width: 15rem;
}
#parent {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}